{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Password | VidVault{% endblock %}

{% block content %}

<div class="forgot-wrapper">

    <div class="forgot-card">

        <!-- LEFT SIDE -->
        <div class="forgot-left">

            <h1 class="forgot-title">
                Reset Password
            </h1>

            <p class="forgot-subtitle">
                Forgot your password? Create a new secure password and continue hosting on VidVault.
            </p>

            <form method="POST">

                {% csrf_token %}

                <div class="forgot-group">

                    <label>Email</label>

                    <input 
                        type="email"
                        name="email"
                        placeholder="Enter your Email"
                        required
                    >

                </div>

                <div class="forgot-group">

                    <label>New Password</label>

                    <input 
                        type="password"
                        name="new_password"
                        placeholder="Enter new password"
                        required
                    >

                </div>

                <button type="submit" class="forgot-btn">
                    Reset Password
                </button>

            </form>

            <a href="{% url 'login' %}" class="back-login">
                ← Back to Login
            </a>

        </div>

        <!-- RIGHT SIDE -->
        <div class="forgot-right">

            <img 
                src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=1200&auto=format&fit=crop"
                alt="Forgot Password"
            >

        </div>

    </div>

</div>

{% endblock %}