{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<div class="auth-container">

    <form method="POST" class="auth-form">

        {% csrf_token %}

        <h1>Reset Password</h1>

        <p>Enter username and new password</p>

        <label>Username</label>

        <input type="text" name="username">

        <label>New Password</label>

        <input type="password" name="new_password">

        <button type="submit">
            Reset Password
        </button>

    </form>

</div>

{% endblock %}